[submodule "NVFlare"]
	path = NVFlare
	url = https://github.com/NVIDIA/NVFlare.git
[submodule "multimodal_data_fusion"]
	path = multimodal_data_fusion
	url = https://github.com/AstraZeneca/multimodal_data_fusion.git
